.not-filled {
  /* border-color: #1E3240; */
  border: 0.5px solid #1E3240;
  background-color: #AFD4E2;
  padding: 1em 1.5em;
  cursor:pointer;
}

.filled {
  border-color: #1E3240;
  background-color: #1E3240;
  color: white;
  padding: 1em 1.5em;
  margin-right: 2em;
  cursor: pointer;
}